/* <------- NAVIGATION ITEMS -------> */
/* Add title and font settings */


h1,
li,
button {
    font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
}

.skip-links{
    background-color: #231651;
    display: flex;
}

.nav-items {
    background-color: #231651;
   
}

.nav-list {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
     display: block;
     padding: 1em 0;
     text-decoration: none;
     background-color: #231651;
     color: white;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
     background-color: #3EC300;
     color: #231651;
}

.nav-button {
    background-color: #3EC300;
    color: #0C081D;
    padding: 10px 100px 10px 100px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

/* <------- HERO SECTION -------> */

.main-banner {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/hero-bakery.png");
    background-size: cover;
    background-repeat: no-repeat;
}

 .hero-box {
     max-width: 1200px;
     margin: 0 auto;
     /* background-color: rgba(0, 0, 0, 0.5); */
     color: white;
     padding: 40px 10px 10px 10px;
 }

 .hero-box h1 {
   text-align: center;
   font-size: 28px;
   font-weight: 600;
   padding: 10px 0px 10px 0px;
}

.hero-box h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
/* <------- ABOUT US -------> */

.about-us {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color:#0C081D;
    padding: 40px 10px 10px 10px;
}

.about-us h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}

.about-us p {
    text-align:left;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    color: #050E01;
    line-height: 20pt;
  }

  .about-image {
    width: 250px;
    display: block;
    margin: 0 auto;
  }

/* <------- DESCRIPTION LIST -------> */

.descrip-sec {
    text-align: center;
}

.descrip-list {
    display: flex;
    justify-content: center; 
    margin: 35px; 
    border-radius: 12px;
    background-color: #231651;
   
}

.descrip-list li {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: white;
    padding: 5px 0px 5px 0px;
}

.descrip-list div {
    padding: 5px 20px;
}

.descrip-list img {
    display: block;
    margin: 0 auto;
}

/* <------- MAIN PRODUCTS SECTION -------> */

.products {
    margin: 1rem;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.products h2,
.products p,
.products img,
.products button {
    margin-bottom: 1rem;
}

.products img {
    width: 100%;
}

.products h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #0C081D;
}


.products p {
    text-align:left;
    font-size: 12px;
    font-weight: 400;
    line-height: 20pt;
    color: #050E01;
  }

.products button {
    background-color: #3EC300;
    color: #0C081D;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

/* <------- FORM SECTION -------> */

.form-border{
    padding: 0px 20px 20px 20px;      
}

.form-border button{
    background-color: #3EC300;
    color: #0C081D;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 140px 0px 140px;
}

.long{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 0px 8px 0px;
}

.big{
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    vertical-align: top;
}

textarea{
    width: 100%;
    height: 120px;
}

/* <------- FOOTER SECTION -------> */


footer h5{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
 }

footer p{
    font-size: 11px;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
 }


 footer div {
    display: flex;
    justify-content: space-between;
     border: none;
     background-color: #231651;
     color: white;
     margin-top: 30px;
     padding: 10px;
 }

 footer a {
     color: white;
 }

  /* ************************************************************************************************************ */
 /* DESKTOP STYLING */
 /* ************************************************************************************************************ */
 @media screen and (min-width: 760px) {

    /* I changed the display on the nav bar so it would be horizontal instead of vertical */

    .nav-list {
        display: flex;
        background-color: #231651;
        align-items: center;
        justify-content: center;
        padding: 0 5em;
    }

    .nav-list li {
        flex-grow: 1;
    }

    .nav-button {
        padding: 10px 20px 10px 20px;
        margin: 10px 0px 10px 0px;
        border-radius: 5px;
    }
    /*Main Banner section  */

    .main-banner {
        position: relative;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .hero-box {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 120px;

    }

    .hero-box h1 {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .hero-box h3 {
        margin: 0px 260px;
        font-size: 28px;
    }

    /* <------- ABOUT US -------> */

.about-us h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0px 30px 0px;
}

.about-us p {
    text-align:left;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
    color: #050E01;
    line-height: 20pt;
  }

.about-image {
    width: 450px;
    display: block;
    margin: 0 auto;
  }


    /* <------- DESCRIPTION LIST -------> */

.descrip-list {
    flex-wrap: wrap;
  }
  
  .descrip-list li {
    font-size: 18px;
    flex-grow:1;
    max-width: 100%;
  }

.descrip-list div{
    padding: 5px 80px;
}

.descrip-list img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 60px;
    padding-top: 10px;
}

/* <------- MAIN PRODUCTS SECTION -------> */

.products {
    display: flex;
  }
/* reverse order of item */
  .products:nth-child(2) {
    flex-direction: row-reverse;
  }

  .products:nth-child(4) {
    flex-direction: row-reverse;
  }
  /* Helps decrease the img size */
  .products img {
    flex-basis: 49%;
    width: 100%;
  }
 /* Helps decrease the text size */
  .products .textandbutton {
    flex-basis: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .textandbutton h2{
    text-align: left;
    font-size: 28px;
  }

  /* Button is responsive and doesn't shrink beyond button text */
  .textandbutton button {
    min-width: 80px;
    padding:  8px 10px;
    position: relative;
    width: 18%;
  }

/* <------- CONTACT INFORMATION SECTION -------> */

.form-border button {

    margin: 15px 0px 10px 0px;
}

/* <------- FOOTER SECTION -------> */


footer h5{
    font-size: 20px;
 }

footer p{
    font-size: 15px;
 }


 footer div {
     margin-top: 30px;
        padding: 50px 50px;
 }
}